.media-thumbnail {
  filter: blur(12px);
  cursor: pointer;
}

.media-loading {
    animation: blurred-loading 0.6s infinite;
    animation-direction: alternate;
}

@keyframes blurred-loading {
  from { filter: blur(12px); }
  to { filter: blur(6px);}
}

.media-content {
  height: 100%;
  max-height: 600px;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 1.2em auto;
  text-align: center;
}

.pxl {

}

.media-anchor {
  display: block;
  max-width: 100%;
}