@import "structures";
@import "media";
@import "typography";
@import "prism";
@import "base_colors";

body {
  color: $white;
  overflow-y: scroll;

}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $red;
  }
}

summary {
  color: $red;
}

hr {
  width: 80%;
  border-image: url("/resources/media/hr.png") 1 fill;
  border-bottom: 0;
}

:not(pre) > code {
  background-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: transparent;
}

blockquote {
  border-left: 2px solid $red;
}

h1, h2, h3, h4, h5, h6 {
  color: $white;
  background: $black;

  a { color: $white; }
}


nav {
  font-weight: bold;
  font-style: italic;
}


// background stuff
body {
  background-color: $blue;
  background-image: url("/resources/media/starbg_indexed_alpha.png");
  background-repeat: repeat-x;
}

p, li, time {
  background-color: rgba($blue, 0.7);
  border-radius: 10px;
}