@import "structures";
@import "typography";
@import "media";

$red: #f07064;
$white: #f5dcbc;
$black: #000;
$blue: #293d78;

body {
  color: $white;
  overflow-y: scroll;
}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $red;
  }
}

hr {
  width: 80%;
  border-image: url("/resources/media/hr.png") 1 fill;
  border-bottom: 0;
}

code {
  background-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: transparent;
}

blockquote {
  border-left: 2px solid $red;
}

h1, h2{
  color: $white;
  background: $black;
  padding: 0.1em 0.65em;

  a { color: $white; }
}

h3, h4, h5, h6 {
  color: $white;
  margin: 1em;

  a { color: $white; }
}

// temp style
button {
  color: $white;
  background-color: rgba($white, 0.2);
  border-radius: 4px;
  border-style: hidden;
  cursor: pointer;
}

nav {
  font-weight: bold;
  font-style: italic;
}


// background stuff
body {
  background-color: $blue;
  background-image: url("/resources/media/starbg_indexed_alpha.png");
  background-repeat: repeat-x;
}

p, li, time {
  background-color: rgba($blue, 0.7);
  border-radius: 10px;
}