@import "structures";
@import "typography";

$red: #f07064;
$white: #f5dcbc;
$black: #000;
//$blue: #1d3049;

body {
  color: $white
}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $red;
  }
}

hr {
  width: 80%;
  border-image: url("/resources/media/hr.png") 1 fill;
  border-bottom: 0;
}

blockquote {
  border-left: 2px solid $red;
}

h1, h2, h3, h4, h5, h6 {
  color: $white;
  background: $black;
  padding: 0.1em 0.65em;

  a { color: $white; }
}

nav {
  font-weight: bold;
  font-style: italic;
}