@import url("/resources/fonts/Kreon/kreon.css");
@import url("/resources/fonts/FiraCode/fira_code.css");
html {
  min-height: 100%;
  display: flex;
  align-items: stretch; }
  html body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 44em;
    margin: 50px auto 0 auto;
    padding: 0; }
    html body header#page-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto 1.5em; }
      html body header#page-header button#font-btn {
        position: absolute;
        align-self: flex-end; }
      html body header#page-header nav {
        width: 100%;
        min-width: 16em;
        max-width: 24em;
        display: flex; }
        html body header#page-header nav a {
          flex: 1 1 0;
          text-align: center;
          margin: 0;
          padding: 0; }
    html body main {
      flex-grow: 1; }
    html body footer#page-footer {
      display: flex;
      height: 2em;
      overflow: hidden;
      flex-direction: row-reverse;
      margin: 0 1.5em; }
  html button {
    text-align: center;
    height: 2.5em;
    margin: 0.5em 1em;
    padding: 0.1em 0.5em; }
  html main {
    margin: auto 1em;
    padding-bottom: 2em; }
    html main article {
      margin: 3em auto 5em; }
      html main article h3, html main article h4 {
        margin-top: 1.5em; }
      html main article p {
        margin: 1em; }
      html main article hr {
        margin-bottom: 2em; }
      html main article ol {
        margin-left: 2em; }
      html main article blockquote {
        padding: 0.25em 1em;
        margin-left: 1em; }
      html main article header {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline; }
        html main article header time {
          margin-bottom: 0.5em;
          margin-left: auto; }
  html div.media-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

main footer nav#blog {
  height: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1em; }

article.project-card {
  display: flex;
  flex-direction: column; }
  article.project-card header {
    display: flex;
    justify-content: space-between; }
  article.project-card div.project-main img.project-thumbnail {
    max-height: 160px;
    width: 285px;
    max-width: 33%;
    margin: 1em; }

article#project img {
  max-width: 100%; }

a.media-anchor img.media-content {
  max-width: 100%;
  max-height: 70vh; }

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  html button {
    font-size: 0.9em;
    padding-left: 0.5em;
    padding-right: 0.5em; }

  a.media-anchor {
    width: 100%;
    height: auto; }
    a.media-anchor img.media-content {
      width: 100%;
      height: auto; } }
@media screen and (min-width: 320px) {
  body {
    font-size: calc(1.2rem); } }
@media screen and (min-width: 1080px) {
  body {
    font-size: 19px;
    line-height: 1.5em; } }
body {
  font-family: "Kreon", serif;
  letter-spacing: 0.3px;
  -webkit-text-size-adjust: none;
  overflow-wrap: break-word; }

article {
  word-break: keep-all;
  overflow-wrap: break-word; }
  article a {
    overflow-wrap: anywhere; }
  article b, article strong {
    font-weight: 500; }

button, .post-header {
  font-family: "Fira Code", monospace;
  word-break: keep-all;
  overflow-wrap: normal;
  white-space: nowrap;
  text-wrap: none; }
  button time, .post-header time {
    font-family: "Kreon", serif;
    font-size: smaller; }

code, ol > li::marker {
  font-family: "Fira Code", monospace;
  font-size: smaller; }

button {
  font-size: 0.8em;
  font-weight: bold; }
  button #font-btn {
    font-style: italic; }

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-style: oblique;
  font-weight: bold; }
body h1 {
  font-size: 1.4em; }
body h2 {
  font-size: 1.2em;
  margin: 0.5em 0 0.25em; }
body h3, body h4 {
  font-size: 1em; }

ul > li {
  list-style-type: "- "; }

body {
  background-color: #1d3049;
  background-image: url("/resources/media/starbg_indexed_alpha.png");
  background-repeat: repeat-x;
  color: #f5dcbc; }

a {
  color: #f07064;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active {
    color: #f07064; }

hr {
  width: 80%;
  border-image: url("/resources/media/hr.png") 1 fill;
  border-bottom: 0; }

blockquote {
  border-left: 2px solid #f07064; }

h1, h2, h3, h4, h5, h6 {
  color: #f5dcbc;
  background: #000;
  padding: 0.1em 0.65em; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #f5dcbc; }

nav {
  font-weight: bold;
  font-style: italic; }

p, li {
  background-color: #1d3049; }

/*# sourceMappingURL=styles.css.map */
